*{
  font-family: 'Barlow', sans-serif;
}
/* 主選單區 */
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(../pic/location.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(0, 180, 177);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.nav-links ul i{
  font-size: 40px;
  color: rgb(241, 241, 241);
  padding-left: 10px;
}
nav .fa{
  display: none;
}
.theme h1{
  font-size: 70px;
  color: #fff;
  font-weight: 600;
  margin-left: 16%;
  margin-top: 14%;
}
.theme h1::after{
  content: '';
  width: 410px;
  height: 6px;
  margin-top: 20px;
  background: #fff;
  display: block;
}
.theme p{
  font-size: 20px;
  line-height: 35px;
  color: rgb(202, 202, 202);
  margin-left: 16%;
  margin-top: -1.5%;
}


/* footer區 */
.footer .wrap{
  max-width: 100%;
  background-color: rgb(0, 148, 145);
  margin-top: 150px;
}
.footer .box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.footer .box .item{
  text-align: left;
}
.footer .box .logo{
  margin-top: 30px;
  margin: auto;
}
.footer .box .logo .icon{
  text-align: center;
  margin: 30px;
}
.footer .box .logo .icon i{
  font-size: 30px;
  color: #fff;
  padding: 10px;
} 
.footer .box .item h3{
  color: #fff;
  font-size: 20px;
}
.footer .box .item h3::after{
  content: '';
  display: block;
  width: 65px;
  height: 2px;
  background: #fff;
  position: relative;
  top: 10px;
}
.footer .box .item nav{
  display: flex;
  flex-direction: column;
}
.footer .box .item nav ul li{
  list-style: none;
  line-height: 35px;
}
.footer .box .item nav ul li a{
  color: #fff;
  text-decoration: none;
}
.footer .conpyright{
  text-align: center;
  letter-spacing: 2px;
  background-color: rgb(32, 32, 32);
  color: #fff;
  padding: 20px 0;
}


/*  */
.small-piece .box{
  width: 20%;
  height: 20%;
  text-align: justify;
  margin: auto;
  padding: 20px 30px;
  background-color: rgb(240, 240, 240);  
}
.small-piece .box h2{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: rgb(58, 58, 58);
}
.small-piece .box p{
  line-height: 35px;
  color: rgb(100, 100, 100);
}


/*  */
.tourist-destination .wrap .box{
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  width: 80%;
  margin: 150px auto;
  display: flex;

}
.tourist-destination .wrap .box .item{
  width: 20%;
}
.tourist-destination .wrap .box .item h2{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: rgb(51, 51, 51);
  border-top: 2px solid rgb(51, 51, 51);
  border-bottom: 2px solid rgb(51, 51, 51);
}
.tourist-destination .wrap .box .item p{
  text-align: justify;
}
.tourist-destination .wrap .box .item img{
  width: 100%;
  transition: all 1s ease-out;
}
.tourist-destination .wrap .box .item img:hover{
  -webkit-filter:grayscale(1);
}


/*  */
.popular-destination .wrap .title h1{
  text-align: center;
  font-size: 40px;
  margin: 50px;
}
.popular-destination .wrap .title span{
  color: rgb(0, 180, 177);
}
.popular-destination .wrap .box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "a a a a"
  "b c d e"
  ;
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.popular-destination .wrap .item{
  height: 350px;
  transition: all 1s ease-out;

}
.popular-destination .wrap .item:nth-child(1){
  grid-area: a;
  background-image: url(../pic/loc11.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popular-destination .wrap .item:nth-child(1) h2{
  margin-left: 20px;
  color: rgb(53, 53, 53);
}
.popular-destination .wrap .item:nth-child(1) p{
  margin-left: 20px;
  margin-top: -10px;
}
.popular-destination .wrap .item:nth-child(2){
  grid-area: b;
  background-image: url(../pic/loc12.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popular-destination .wrap .item:nth-child(2) h2{
  margin-left: 20px;
}
.popular-destination .wrap .item:nth-child(2) p{
  margin-left: 20px;
  margin-top: -10px;
}
.popular-destination .wrap .item:nth-child(3){
  grid-area: c;
  background-image: url(../pic/loc13.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popular-destination .wrap .item:nth-child(3) h2{
  margin-left: 20px;
  color: rgb(53, 53, 53);
}
.popular-destination .wrap .item:nth-child(3) p{
  margin-left: 20px;
  margin-top: -10px;
}
.popular-destination .wrap .item:nth-child(4){
  grid-area: d;
  background-image: url(../pic/loc14.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popular-destination .wrap .item:nth-child(4) h2{
  margin-left: 20px;
  color: rgb(53, 53, 53);
}
.popular-destination .wrap .item:nth-child(4) p{
  margin-left: 20px;
  margin-top: -10px;
}
.popular-destination .wrap .item:hover{
  -webkit-filter:grayscale(1);
}
.popular-destination .wrap .item:nth-child(5){
  grid-area: e;
  background-color: rgb(0, 180, 177);
  text-align: center;
}
.popular-destination .wrap .item:nth-child(5) h2{
  font-size: 25px;
  color: #fff;
  margin: 50px 0;
  border-bottom: 2px solid #fff;
}
.popular-destination .wrap .item:nth-child(5) p{
  text-align: justify;
  margin: 0 20px;
  color: rgb(228, 228, 228);
}
.popular-destination .wrap .item:nth-child(5) button{
  width: 100px;
  height: 30px;
  margin-top: 30px;
  color: #fff;
  background: rgb(0, 180, 177);
  border: 2px solid #fff;
  cursor: pointer;
}
.popular-destination .wrap .item:nth-child(5):hover{
  -webkit-filter:grayscale(0);
}


/*  */
.carousel{
  margin: 150px;
}
.carousel .image{
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 350px;
  position: relative;
  transition: all 1s ease-out;
}
.carousel .item-a .image{
  background-image: url(../pic/loc1.jpg);
  -webkit-filter:grayscale(1);
}
.carousel .item-b .image{
  background-image: url(../pic/loc2.jpg);
  -webkit-filter:grayscale(1);
}
.carousel .item-c .image{
  background-image: url(../pic/loc3.jpg);
  -webkit-filter:grayscale(1);
}
.carousel .item-d .image{
  background-image: url(../pic/loc4.jpg);
  -webkit-filter:grayscale(1);
}
.carousel .item-e .image{
  background-image: url(../pic/loc5.jpg);
  -webkit-filter:grayscale(1);
}
.carousel .image:hover{
  -webkit-filter:grayscale(0);
}




/* 手機 */
@media screen and (max-width: 768px){

  .header{
    overflow: hidden;
  }
  nav img{
    width: 120px;
    margin-top: 10px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: rgb(0, 180, 177);
    height: 100vh;
    width: 220px;
    top: 0;
    right: -220px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
  .theme h1{
   font-size: 60px;
   margin-top: 170px;
   margin-left: 10%;
  }
  .theme h1::after{
    width: 300px;
  }
  .theme p{
    font-size: 17px;
    margin-left: 10%;
  }


/*  */
  .footer .wrap{
    margin-top: 60px;
  }
  .footer .box{
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer .box .item{
    margin: auto;
  }
  .footer .box .item:nth-child(2){
    position: relative;
    right: 10px;
  }
  .footer .box .item:nth-child(3){
    position: relative;
    right: 26px;
  }
  .footer .box .item:nth-child(4){
    position: relative;
    right: 26px;
  }
  .footer .box .item:nth-child(5){
    position: relative;
    right: 20px;
  }
  .footer .box .item:nth-child(6){
    position: relative;
    right: 18px;
  }
  .footer .box .item:nth-child(7){
    position: relative;
    right: 32px;
  }

  
  .small-piece .box{
    width: 80%;
    height: 30%;
  }
  .carousel{
    margin: 30px 0;
  }
  .tourist-destination .wrap .box{
    flex-wrap: wrap;
    margin: 30px auto;
  }
  .tourist-destination .wrap .box .item{
    width: 100%;
    margin-bottom: 30px;
  }

  .popular-destination .wrap .box{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    "e e e e"
    ;
    width: 80%;
  }
  .popular-destination .wrap .item:nth-child(1){
    height: 250px;
  }
  .popular-destination .wrap .item:nth-child(2){
    height: 250px;
  }
  .popular-destination .wrap .item:nth-child(3){
    height: 250px;
  }
  .popular-destination .wrap .item:nth-child(4){
    height: 250px;
  }
}